*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}


@font-face {
    font-family: 'hydrophiliaiced';
    src: url('hydrophilia_iced-webfont.woff2') format('woff2'),
         url('hydrophilia_iced-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Variable';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400 600 800;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Variable';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400 600 800;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'DOSMyungjo';
    src: url('media/font/DOSMyungjo.woff') format('woff');
    font-display: swap;
    font-style: normal;
}

body {
  height: 100%;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  
  font-family: 'Pretendard-Regular', sans-serif;
  font-size: var(--font-size-m);
  line-height: var(--line-height);
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #ffffff;
  border: 0px dashed #0055ff;
  border-radius: 50px;
  -webkit-box-shadow:0 0 6px blue inset;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #ffffff;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #ffffff;
}
::-webkit-scrollbar-track:active {
  background: #ffffff;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

::selection {
  color: #2168D6;
  background: #F8F270;
}

/*** home ***/

.plate {
  background: linear-gradient(0deg, white 20%, #1C60E7 60%);
  width: -moz-fit-content;
  padding-top: 0.2em;
  padding-bottom: 0.5em;
  text-align: center;
  color: blue;  
font-family: hydrophiliaiced;
font-size: 4vw;
font-weight: 700;
font-style: normal;
line-height: 1.2em;
  filter: drop-shadow(0px 0px 3px rgba(0, 85, 255, 0.46));
}

.plate img {
  width:65%
}

.opening {
  background: linear-gradient(0deg, rgba(0,0,0,0) 2%, #4174D9 5%);
  width: -moz-fit-content;
  display: flex;
  justify-content: space-between;
}


.footer-text {
  position: relative;
  font-family: 'Pretendard-Regular', sans-serif;
  z-index: 100;
  right: 0px;
  height: 100%;
  width: 60%;
  font-size: 20px;
  line-height: 171%;
  color: #ffffff;
  text-align: left;
  padding-right: 3em;
  padding-bottom: 3em;
  padding-top: 3em;
  word-break: keep-all;
  float: right;
  overflow-wrap: normal;
  font-weight: 400;
  margin-bottom: 0.8em;
}

.footer-name {
  font-family: 'Pretendard-Regular', sans-serif;
  z-index: 100;
  right: 0px;
  height: 100%;
  width: 60%;
  font-size: 20px;
  line-height: 171%;
  color: #ffffff;
  text-align: left;
  text-align: left;
  padding: 3em;
  word-break: keep-all;
  height: 100%;
  overflow-wrap: normal;
  font-weight: 400;
  margin-bottom: 0.8em;
}

.cakes{
   background-image: url("https://i.imgur.com/jfkeXOe.png");
 background-position: center;
  background-size: cover;
    background-attachment: fixed;
    background-repeat:   no-repeat;
  width: -moz-fit-content;
  hieght: 100%;
  padding: 1.2em;
    position: relative;
    text-align: 0.2em;
float: left;
text-align: center;

}

.cakes img{
width: 40%;
text-align: 0.2em;

}


.left {
  position: fixed;
  z-index: 999;
  font-size: 4vw;
  margin-left: 0.5em;
  margin-top: 30px;
  color: blue;
font-family: hydrophiliaiced;
font-weight: 700;
font-style: normal;
  filter: drop-shadow(2px 2px 3px yellow)
}

.left:hover {
  position: fixed;
  z-index: 999;
  font-size: 4vw;
  margin-left: 0.5em;
  margin-top: 30px;
  color: yellow;
font-family:  hydrophiliaiced;
font-weight: 700;
font-style: normal;
  filter: drop-shadow(2px 2px 2px blue)
}

  .right {
      position: fixed;
  z-index: 999;
 right: 0px;
 width: 25%;
 margin-right: 25px;
  margin-top: 30px;

  }

 .right img{
        width: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
        filter: drop-shadow(5px 5px 5px rgba(249, 255, 74, 0.86))

    }

    .img-top{
        display: none;   /* Hide top Image */
        z-index: 600;
    }


  .right:hover .img-top{
    display: inline;
    width: 100%;
      position: absolute;
 right: 0px;
 margin-right: 25px;
  margin-top: 0px;
    z-index: 600;
  }


  #id1 {
  font-family: 'DOSMyungjo', serif;
  font-size: 2.5vw;
  text-align: left;
  color: #FFFFFF;
}


[class*=parrot] {
  position: absolute;
  height: 2.7em;
  width: 2.7em;
  background-repeat: no-repeat;
  background-size: 100% auto;
  z-index: 300;
}


.parrot-1 {
  background-image: url("https://i.imgur.com/RhcFx2c.png");
}

.parrot-2 {
  background-image: url("https://em-content.zobj.net/thumbs/120/apple/325/growing-heart_1f497.png");
}

.parrot-3 {
  background-image: url("https://i.imgur.com/KNVq7BA.png");
}

.parrot-4 {
  background-image: url("https://em-content.zobj.net/thumbs/120/apple/325/star_2b50.png");
}

.parrot-5 {
  background-image: url("https://i.imgur.com/RlGqJbG.png");
}

.parrot-6 {
  background-image: url("https://em-content.zobj.net/thumbs/120/apple/325/bear_1f43b.png");
}

.parrot-7 {
  background-image: url("https://i.imgur.com/ihLG0Xl.png");
}

.parrot-8 {
  background-image: url("https://em-content.zobj.net/thumbs/120/apple/325/sparkling-heart_1f496.png");
}

.parrot-9 {
  background-image: url("https://i.imgur.com/5XEeEf5.png");
}

.parrot-10 {
  background-image: url("https://em-content.zobj.net/thumbs/120/apple/325/shortcake_1f370.png");
}

.parrot-11 {
  background-image: url("https://em-content.zobj.net/thumbs/120/apple/325/cupcake_1f9c1.png");
}



@media only screen and (max-width: 700px) {
  body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
    display: flex;
flex-direction: column;

  }

  ::-webkit-scrollbar {
    display: none;
}


[class*=parrot] {
  position: absolute;
  height: 1.8em;
  width: 1.8em;
  background-repeat: no-repeat;
  background-size: 100% auto;
  z-index: 300;
}

.left {
  font-size: 7vw;
  margin-left: 1em;
}

.left:hover {
  font-size: 7vw;
margin-left: 1em;
}

.plate {
    width: -moz-fit-content;
  padding-top: 0.5em;
  padding-bottom: 1em;
  font-size: 6vw;


}

.plate img {
  width:95%

}

.opening {
  background: linear-gradient(0deg, rgba(0,0,0,0) 2%, #4174D9 5%);
  width: -moz-fit-content;
    display: flex;
flex-direction: column;
padding-top: 1em;
  justify-content: space-between;
}

.footer-text {
  width: 100%;
   font-size: 4vw;
    line-height: 8vw;
      color: #ffffff;
      margin-top: -1em;
      margin-left: 2em;

}

  #id1 {
  font-size: 5vw;
}

.footer-name {
  margin-left: 1.7em;

}

.right {
  width: 30%;
  margin-right: 1.3em;
}

.cakes img{
width: 97%;
text-align: 0.2em;

}

.cakes{
   background-image: url("plate_white_mobile.png");
 background-position: center;

    background-attachment: fixed;
    background-repeat:   no-repeat;
    overflow-y: scroll;
    min-height: 1000px;
}
  
}
  
/*** posts ***/

.work {
  height: auto;
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  word-break: keep-all;
}


.work > p{
  width: auto;
  margin-right: auto;
  color: #FCFFCE;
  text-align: left;
  display: inline-block;
  font-size: 20px;
  line-height: 171%;
  word-break: keep-all;
  display: flex;
  font-weight: 400;
  margin-bottom: 0.8em;
}

.work > p.logline {
  font-weight: 600;
  color: #FCFFCE;
  word-break: keep-all;
}

.work > p.bigger {
  font-weight: 600;
  font-size: 24px;
  line-height: 171%;
  color: #FCFFCE;
  word-break: keep-all;
  margin-bottom: 0;
  margin-top: 40px;
}

.work > p.sub {
  font-weight: 600;
  font-size: 21px;
  line-height: 171%;
  color: #FCFFCE;
  word-break: keep-all;
  margin-bottom: 0;
}

.work > p.underline{
  font-size: 20px;
  text-decoration: underline wavy;
  line-height: 171%;
  word-break: keep-all;
  display: flex;
  font-weight: 400;
}

.work > p.slider__txt{
  font-size: 20px;
  word-break: keep-all;
}
  
h2 {
    font-size: 16px;
    line-height: 160%;
    word-break: keep-all;
    display: block;
    font-weight: 600;
    text-align: center;
    color: #34B190;
    background-color: #FCFFCE;
    border-radius: 25px;
    padding: 5px;
    width: 145px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

h3 {
    font-size: 16px;
    line-height: 160%;
    word-break: keep-all;
    display: block;
    font-weight: 600;
    text-align: center;
    color: #FCFFCE;

    text-decoration: underline wavy;
    border-radius: 25px;
    padding: 5px;
    width: 145px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.work > img {
    position: relative;
    display: block;
    place-items: center;
    height: auto;
    width: 100%;
    margin: auto;
    z-index: 90;
    border: 2px solid #F4FFCE;
    border-radius: 113px;
    margin: 40px 0 40px 0;
}

div{
  margin-bottom: 30px;
}


h1 {
    font-family: 'DOSMyungjo', serif;
    font-size: 36px;
    line-height: 43px;
    display: block;
    text-align: center;
    color: #FCFFCE;
    margin-bottom: 60px;
}

.resume-content {
    margin: 1em 0 2em 0;
    list-style: none;
}

.resume-content-item {
    font-size: var(--font-size-m);
    line-height: calc(var(--line-height) * 1.7);
    padding-left: 10em;
    padding-right: auto;
}

#resume > article:last-of-type > .resume-content {
    margin-bottom: 0;
}

#main{
  width: auto;
  height: 100vh;
  background-color: #34B190;
  display: flex;
  justify-content: center;
  padding: 0;
  overflow: hidden;
  margin: auto;
}

img {
    position: relative;
    display: block;
    place-items: center;
    height: auto;
    width: 50%;
    margin: auto;
    z-index: 90;
}

.profile {
  height: auto;
  width: 45%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  word-break: keep-all;
  align-items: center;
  margin-top: 200px;
}

  .profile > h1{
    font-size: 16px;
    line-height: 171%;
    word-break: keep-all;
    display: block;
    font-weight: 600;
    text-align: center;
    color: #FCFFCE;
    margin: 20px 0 20px 0;
  }

  .profile > p{
    font-size: 16px;
    line-height: 171%;
    word-break: keep-all;
    display: block;
    font-weight: 400;
    text-align: center;
    color: #FCFFCE;
  }

  .profile > p.underline{
    font-size: 16px;
    line-height: 171%;
    word-break: keep-all;
    display: block;
    font-weight: 400;
    text-align: center;
    color: #FCFFCE;
    text-decoration: underline;
    margin-top: 20px;
  }

  .profile > img{
    position: relative;
    display: block;
    place-items: center;
    height: auto;
    width: 30%;
    margin: auto;
    z-index: 90;
    border: 2px solid #F4FFCE;
    border-radius: 80px;
  }


/*horizontal slide css code*/

  .work.j > p {
    display: block;
    white-space: normal;
  }

  .section input[id*="slide"]{
    display:none;
  }

  .section .slidewrap {
    max-width: 100%;
    margin:0 auto;
    overflow: hidden;
  }

  .section .slidelist{
    white-space: nowrap;
    font-size:0;
  }

  .section .slidelist > li{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: all .5s;
  }

  .section .slidelist > li > a{
    display: block;
  }

  .section .slidelist > li > a img{
    width: 50%;
  }

  .section .slidelist label{
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    cursor: pointer;
  }

  .section .slidelist .left{
    left: 0;
    background: url("https://i.imgur.com/8QI4dfr.png") center center / 50% no-repeat;
  }

  .section .slidelist .right{
    right: 0;
    background: url("https://i.imgur.com/XAldSvO.png") center center / 50% no-repeat;
  }

  .section [id="slide01"]:checked ~ .slidewrap .slidelist > li {transform:translateX(0%);}
  .section [id="slide02"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-100%);}
  .section [id="slide03"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-200%);}
  .section [id="slide04"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-300%);}
  .section [id="slide05"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-400%);}


iframe {
  position: relative;
  display: grid;
  place-items: center;
  width: 50%;
  margin: auto;
  transition: width 1s linear;
  z-index: 90;
  margin-bottom: 100px;
}

a:link {
  color : white;
  text-decoration: none;
}
a:visited {
  color : white;
  text-decoration: none;
}

a:active {
  color : white;
  text-decoration: none;
}

footer{
  bottom:0;
  width:100%;
  height: auto;
  padding-bottom: 50px;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  filter: drop-shadow(0px 0px 5px #FFFFFF);
  gap: 70%;
}

footer > #arrow > a{
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  align-items: stretch;
  align-content: space-between;
  flex-wrap: wrap;
}

/****PAGES****/

body.moho {
  background-color: #34B190;
}

/*annu*/

body.annu {
  background-color: #242424;
}

.annu > h1{
  color: #FFEE59;
}

.annu > h2{
  color: #242424;
  background-color: #FFEE59;
}

.annu > h3{
  color: #FFEE59;
}

.annu > p{
  color: #FFEE59;
}

.annu > .profile > p{
  color: #FFEE59;
}

.annu > .profile > h1{
  color: #FFEE59;
}

.annu > .profile > img{
  border: 2px solid #FFEE59;
}

/*jinsim*/

body.jinsim {
  background-color: #A88CDA;
}

.jinsim > h1{
  color: #69FFA5;
}

.jinsim > h2{
  color: #A88CDA;
  background-color: #69FFA5;
}

.jinsim > h3{
  color: #69FFA5;
}

.jinsim > p{
  color: #69FFA5;
}

.jinsim > .profile > p{
  color: #69FFA5;
}

.jinsim > .profile > h1{
  color: #69FFA5;
}

.jinsim > .profile > img{
  border: 2px solid #69FFA5;
}

/*j*/

body.j {
  background-color: #006496;
}

.j > h1{
  color: #F4FFCE;
}

.j > h2{
  color: #006496;
  background-color: #F4FFCE;
}

.j > h3{
  color: #F4FFCE;
}

.j > p{
  color: #F4FFCE;
  width: 600px;
}

.j > .profile > p{
  color: #F4FFCE;
}

.j > .profile > h1{
  color: #F4FFCE;
}

.j > .profile > img{
  border: 2px solid #F4FFCE;
}


@media ( max-width: 768px ) {


  .work {
    height: auto;
    width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    word-break: keep-all;
  }

  .profile > img{
    position: relative;
    display: block;
    place-items: center;
    height: auto;
    width: 80%;
    margin: auto;
    z-index: 90;
    border: 2px solid #F4FFCE;
    border-radius: 80px;
  }

  img {
      position: relative;
      display: block;
      place-items: center;
      height: auto;
      width: 30%;
      margin: auto;
      z-index: 90;
  }

  .logo-image{
     overflow: hidden;
     display: block;
     position: absolute;
     width: 320px;
     height: 70px;
     filter: drop-shadow(0px 0px 5px #FFFFFF);
     margin-left: 0;
  }

  nav {
      position: fixed;
      top: 23px;
      width: 300px;
      height: 67px;
      z-index: 100;
      place-items: center;
      margin-left: auto;
      margin-right: auto;
      display: block;
  }

  nav > ul > li > a{
        flex:1;
        display: block;
        color: white;
        font-size: 30px;
        text-shadow: 0 0 3px #FFFFFF;
        font-family: 'Hydrophilia Iced', sans-serif;
        text-align: center;
      }

      footer{
        bottom:0;
        width:100%;
        height: auto;
        padding-bottom: 20px;
        padding-top: 50px;
        display: flex;
        justify-content: space-between;
        filter: drop-shadow(0px 0px 5px #FFFFFF);
        gap: 50%;
      }

      footer > #arrow > a{
        display: flex;
        flex-direction: row;
        flex: 1;
        justify-content: space-between;
        align-items: stretch;
        align-content: space-between;
        flex-wrap: wrap;
      }
}

/*youtube*/

.youtube-container {
  position: relative;
  overflow: hidden;
  width: 60%;
  margin: auto;
  border: 2px solid #FFEE59;
  border-radius: 40px;
}

.youtube-container::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.youtube-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

